/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/logs
/backend/bootstrap/cache
/backend/vendor
/backend/.env

/engine/node_modules
/engine/public/hot
/engine/public/storage
/engine/storage/*.key
/engine/storage/logs
/engine/bootstrap/cache
/engine/vendor
/engine/.env

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
